[submodule "ceammc/ext/src/tests/Catch"]
	path = ceammc/ext/src/tests/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "ceammc/distrib/git-archive-all"]
	path = ceammc/distrib/git-archive-all
	url = https://github.com/Kentzo/git-archive-all.git
[submodule "ceammc/extra/flext/flext"]
	path = ceammc/extra/flext/flext
	url = https://github.com/grrrr/flext
[submodule "ceammc/extra/libdir/libdir"]
	path = ceammc/extra/libdir/libdir
	url = https://github.com/pure-data/libdir.git
[submodule "ceammc/extra/flext/vasp"]
	path = ceammc/extra/flext/vasp
	url = https://github.com/grrrr/vasp.git
[submodule "ceammc/extra/flext/xsample/xsample"]
	path = ceammc/extra/flext/xsample/xsample
	url = https://github.com/grrrr/xsample.git
[submodule "ceammc/extra/stk/stk"]
	path = ceammc/extra/stk/stk
	url = https://github.com/thestk/stk.git
[submodule "ceammc/extra/timbreID/timbreID"]
	path = ceammc/extra/timbreID/timbreID
	url = https://github.com/avilleret/timbreID.git
