*.o
TAGS
*.o
TAGS
autom4te.cache
Makefile
Makefile.in
GNUmakefile
GNUmakefile.in
aclocal.m4
configure
config.log
config.status
libtool
m4/generated
m4/config
makefile.dependencies
.deps
.libs
*.lo
*.la
*.pd_linux
*.pd_darwin
*.d_fat
*.d_fat_o
po/*.msg
bin
src/makefile
src/pd
src/pd-watchdog
src/pdreceive
src/pdsend
ASIOSDK2
pd-0.*
pd.pc
dist
*.creator
PureData.config
PureData.creator
PureData.creator.user
PureData.files
PureData.includes

*.mo

ceammc/doxygen/lib
ceammc/doxygen/lib/html
ceammc/extra/m_pd_doc/doc

*.pyc

*.user
build/

