[submodule "ceammc/ext/src/tests/Catch"]
	path = ceammc/ext/src/tests/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "ceammc/distrib/git-archive-all"]
	path = ceammc/distrib/git-archive-all
	url = https://github.com/Kentzo/git-archive-all.git
[submodule "ceammc/extra/flext/flext"]
	path = ceammc/extra/flext/flext
	url = https://github.com/grrrr/flext
[submodule "ceammc/extra/flext/zconf"]
	path = ceammc/extra/flext/zconf
	url = https://github.com/grrrr/zconf
