[submodule "ceammc/distrib/git-archive-all"]
	path = ceammc/distrib/git-archive-all
	url = https://github.com/Kentzo/git-archive-all.git
[submodule "ceammc/extra/flext/flext"]
	path = ceammc/extra/flext/flext
	url = https://github.com/grrrr/flext
[submodule "ceammc/extra/flext/vasp"]
	path = ceammc/extra/flext/vasp
	url = https://github.com/grrrr/vasp.git
[submodule "ceammc/extra/flext/xsample/xsample"]
	path = ceammc/extra/flext/xsample/xsample
	url = https://github.com/grrrr/xsample.git
[submodule "ceammc/extra/stk/stk"]
	path = ceammc/extra/stk/stk
	url = https://github.com/thestk/stk.git
[submodule "ceammc/extra/timbreID/timbreID"]
	path = ceammc/extra/timbreID/timbreID
	url = https://github.com/avilleret/timbreID.git
[submodule "ceammc/extra/serial/serial"]
	path = ceammc/extra/serial/serial
	url = https://github.com/wjwwood/serial.git
[submodule "ceammc/extra/speech/flite"]
	path = ceammc/extra/speech/flite
	url = https://github.com/uliss/flite.git
[submodule "ceammc/extra/fluidsynth/fluidsynth"]
	path = ceammc/extra/fluidsynth/fluidsynth
	url = https://github.com/FluidSynth/fluidsynth.git
[submodule "ceammc/extra/subprocess/tiny-process-library"]
	path = ceammc/extra/subprocess/tiny-process-library
	url = https://gitlab.com/eidheim/tiny-process-library.git
[submodule "ceammc/extra/readerwriterqueue"]
	path = ceammc/extra/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
[submodule "ceammc/extra/fmt"]
	path = ceammc/extra/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "ceammc/extra/re2"]
	path = ceammc/extra/re2
	url = https://github.com/google/re2.git
[submodule "ceammc/extra/HoaLibrary-Light"]
	path = ceammc/extra/HoaLibrary-Light
	url = https://github.com/uliss/HoaLibrary-Light.git
[submodule "ceammc/ext/src/proto/extra/hw_alpaca"]
	path = ceammc/ext/src/proto/extra/hw_alpaca
	url = https://github.com/uliss/hw_alpaca
[submodule "ceammc/extra/aubio/aubio"]
	path = ceammc/extra/aubio/aubio
	url = https://github.com/aubio/aubio
[submodule "ceammc/extra/reflex/RE-flex"]
	path = ceammc/extra/reflex/RE-flex
	url = https://github.com/Genivia/RE-flex
[submodule "ceammc/extra/soxr/code"]
	path = ceammc/extra/soxr/code
	url = https://github.com/uliss/soxr.git 
[submodule "ceammc/extra/muparser/muparser"]
	path = ceammc/extra/muparser/muparser
	url = https://github.com/beltoforion/muparser
[submodule "ceammc/extra/glitch/glitch"]
	path = ceammc/extra/glitch/glitch
	url = https://github.com/naivesound/glitch.git
[submodule "ceammc/extra/faust/faust"]
	path = ceammc/extra/faust/faust
	url = https://github.com/grame-cncm/faust.git
[submodule "ceammc/extra/httplib/cpp-httplib"]
	path = ceammc/extra/httplib/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "ceammc/extra/miniz/miniz"]
	path = ceammc/extra/miniz/miniz
	url = https://github.com/richgel999/miniz.git
