# binaries
bin
src/pd
src/pd-watchdog
src/pdreceive
src/pdsend
*.app
*.exe

# autotools
autom4te.cache
Makefile
Makefile.in
GNUmakefile
GNUmakefile.in
aclocal.m4
configure
config.log
config.status
libtool
m4/generated
m4/config
makefile.dependencies
dist
tags
tcl/pd-gui

# build
*.o
lib*.a

# libtool
.deps
.libs
*.lo
*.la

# externals
*.pd_linux
*.pd_darwin
*.d_fat
*.d_fat_o
*.dll

# windows build artifacts
src/*.com
src/*.def
src/*.lib
src/*.res
src/*.a

# distribution tarballs
pd-0.*
dist
*.creator
*.config
*.creator.user
*.files
*.includes

*.mo

ceammc/doxygen/lib
ceammc/doxygen/lib/html
ceammc/extra/m_pd_doc/doc

*.pyc

*.user
.DS_Store
build/
*.snap
CMakeLists.txt.user*
*.kdev4
.kdev4

mac/*.gz
mac/tcl*
mac/tk*
mac/embedded
