[package]
name = "ceammc_tools"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "rhvoice_download"
path = "src/rhvoice_download/main.rs"


[dependencies]
clap = { version = "4.5.4", features = ["derive"] }
env_logger = "0.11.3"
exitcode = "1.1.2"
homedir = "0.2.1"
log = "0.4.21"
octocrab = "0.38.0"
reqwest = "0.12.4"
tempfile = "3.10.1"
tokio = { version = "1.37.0", features = ["macros"] }
zip = "1.2.1"
