Source: puredata-ceammc
Section: sound
Priority: optional
Maintainer: Serge Poltavsky <serge.potlavski@gmail.com>
Uploaders: Serge Poltavsky <serge.potlavski@gmail.com>
Build-Depends: debhelper (>= 7.0.50~),
               quilt,
               cmake,
               libasound2-dev  [!hurd-i386 !kfreebsd-amd64 !kfreebsd-i386],
               libjack-dev
               libmodplug-dev
               libboost-dev
Standards-Version: 3.8.3
Homepage: https://github.com/uliss/pure-data

Package: puredata-ceammc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: pd
Description: realtime computer music and graphics system 
 Pure Data (also known as Pd) is a real-time graphical programming environment
 for audio and graphics processing. Pd's audio functions are built-in;
