[Desktop Entry]
Type=Application
Name=PureData Autostart (ceammc)
Icon=puredata-ceammc
Exec=${HOME}/bin/pd_start.sh
Terminal=false
X-GNOME-Autostart-enabled=true
